* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* HEADER */

.header {
  height: 100vh;
  background-image: url(images/img_bg.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo img {
  width: 200px;
}

.menu-toggle-btn {
  display: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  margin-bottom: 0;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.nav-links ul li::after {
  content: " ";
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
}

.text-box h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.text-box p {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 25px;
}

/* MAIN SECTION */

.container-services {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.box {
  flex: 1%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px;
}

.box:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 100px;
  color: #00bbf0;
}

.text {
  text-align: center;
  font-size: 20px;
  padding: 30px;
}

/* SECTION TOUR */

.section-tour {
  width: 100%;
  padding: 100px 0 200px 0;
  background: #fafafa;
}

.section-tour h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.sub-text {
  text-align: center;
  font-size: 20px;
  padding: 40px;
}

.card-text {
  line-height: 57.8px;
  padding-bottom: 30px;
}

/* FOOTER */

footer {
  width: 100%;
  height: auto;
  background-color: #595959;
  padding: 50px 0;
  color: #fff;
}
.container-footer {
  /* padding: 30px 0; */
  display: flex;
  justify-content: space-around;
}

.container-footer h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.social li {
  display: inline-block;
  background-color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}
.social li a i {
  padding-top: 13px;
  color: #333;
  transition: 0.3s;
  font-size: 35px;
}

.social li a i:hover {
  color: rgb(30, 118, 226);
  text-decoration: none;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.location h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.location p i {
  color: #333;
  font-size: 20px;
  margin-right: 10px;
}

.copyright {
  text-align: center;
  font-size: 20px;
  padding: 30px;
}

/* RESPONSIVE */
@media screen and (max-width: 1350px) {
  .text-box h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  .text-box p {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 20px;
  }

  .box h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
  }

  .text {
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto;
  }

  .container-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
  }
}

@media screen and (max-width: 1035px) {
  .text-box p {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 15px;
  }

  .container-services {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .text-box h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .text-box p {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  .nav-links {
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    flex-direction: column;
    background-color: #0171c1;
    text-align: center;
    transition: 0.3s;
    display: none;
  }

  .nav-links li {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.3s;
  }

  .nav-links ul li:hover::after {
    width: 20%;
  }

  .nav-links.active {
    display: block;
  }

  .menu-toggle-btn {
    display: block;
  }

  .container-services {
    width: 90%;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
  }

  .container-footer h3 {
    font-size: 30px;
    text-align: center;
  }

  .social {
    padding: 0px;
    margin-top: 50px;
  }

  .social li a i {
    font-size: 30px;
  }

  .location {
    align-items: center;
  }

  .location h4 {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
  }

  .location p i {
    font-size: 25px;
    margin-right: 20px;
  }

  .copyright {
    text-align: center;
    font-size: 25px;
  }
}
